.d3Verbrauch,
.d3Verbrauch2 {
  .axis-x {
    path {
      display: none;
    }
  }
}

.d3Wasserabgabe {
  .lines {
    .dotsJahresdurchschnitt {
      circle {
        fill: #3873B8
      }
    }
    .dotsTagesspitze {
      circle {
        fill: #f44336
      }
    }
    .dotsBevoelkerung {
      circle {
        fill: #2889B3
      }
    }
  }
}
