.header {
  // background: hotpink;

  .container {
    @include vr( $padding-top: 5 );
    @extend .animations;
    // background: lightpink;
  }

    .header-sticky {
      width: 100%;
      background: #fff;

      .logo {
        text-align: center;
        margin-top: 0;
        font-family: $font-sans;
        font-weight: bold;
        @include vr( $font-size: 2 );
        @extend .uppercase;
        @extend .animations;

        @include mobilefirst($bp-tablet) {
          @include vr( $font-size: 4 );
        }

        a {
          text-decoration: none;
          display: block;
        }
      }
    }

    .intro-text {
      text-align: center;

      p {
        @include vr( $margin-top: 1 );
      }
    }

    .sticking {
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
      z-index: 999;

      .logo {
        @include vr(
          $font-size: 1,
          $margin: .25 0
        );
      }
    }
}

