.main {
  .tall {
    @include vr(
      $height: 32
    );
  }

  aside.r {
    @include vr(
      $font-size: -1,
      $padding-left: 1,
      $padding-right: 1
    );

    @include mobilefirst($bp-tablet) {
      padding: 0;
    }

    .border {
      @include vr(
        $padding-left: 0
      );

      @include mobilefirst($bp-tablet) {
        border-left: 1px solid lighten($color-primary, 25);
        @include vr(
          $padding-left: .5
        );
      }
    }
  }
}
