// KEY VISUALS
//
.kv {
  // min-height: 600px;
  margin-bottom: 80px;
  padding: 200px 0;
  text-align: center;
  color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  h1:after {
    content: '';
    background: #fff;
    display: block;
    width: 15%;
    height: 2px;
    margin: .5em auto;
  }

  .sec-gewinnung & {
    background-color: #1976d2;
    background-image: url(../img/kv-gewinnung.jpg);
  }

  .sec-versorgung & {
    background-color: #1976d2;
    background-image: url(../img/kv-versorgung.jpg);
  }

  .sec-reinigung & {
    background-color: #1976d2;
    background-image: url(../img/kv-reinigung.jpg);
  }

  > div {
    margin: 0 auto;
    padding: 0 2.1277%*2;
    max-width: 1000px;
  }
}

// MAIN
//
.main {
  position: relative;
  padding-top: $padding*2;
  height: 100%;

  .progress-wrapper {
    // height: 100%;
    display: block;
    // position: relative;

    .progressbar {
      position: absolute;
      // top: 0;
      // height: 100%;
      width: 4px;
      background: green;
      z-index: 99;
    }
  }

  section {
    // margin-top: $padding*4;
    background: #fff;
    padding-bottom: $padding*2;
    @extend .clear;
  }

    article {
      .txt {
        @extend .span9;
      }

      .marginalia {
        @extend .span3;
        color: lighten($color-primary, 20%);

        .border {
          padding: 10px 0 4px 8%;
          border-left: 1px solid lighten($color-primary, 20%);
        }
      }

      .group {
        // margin-bottom: $padding;
      }
    }
}
