main {
  section {
    header/*,
    article*/ {
      @extend .span8;
      // @extend .offset2;
      @include vr($margin-bottom: 1);
    }

    article {
      @extend .group;

      .text {
        @extend .span6;
        @extend .offset3;
      }
    }

    .wide {
      position: relative;

      .container { position: relative; }

      .flood {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .circle {
          position: absolute;
          width: 1px;
          height: 1px;
          border-radius: 50%;
          transform: scale(0);
        }
      }

      & + .container {
        opacity: 0;
        @extend .animations;
      }

      h1 {
        @extend .animations;
      }

      p {
        color: #fff;
        opacity: 0;
        @extend .animations;
      }

      &.showText {
        h1 { color: #fff; }
        p { opacity: 1; }

          .icon i { background-size: 72px !important; }
      }
    }

      .icon {
        @extend .span1;
        @extend .offset1;
        @include vr( $margin-top: 2 );

        @include mobilelast($bp-tablet) {
          margin-bottom: 0;
        }

        & + header {
          @extend .offset0;
          @include vr( $margin-bottom: 1 );
        }

        i {
          position: relative;
          // background-color: rgba(hotpink, .2);/**/
          background-size: 56px !important;
          width: 4rem;
          display: inline-block;
          border-radius: 50%;
          @extend .animations-quick;
          @include vr(
            $margin-right: .5,
            $height: 2
          );

          .waterpipe {
            width: 0;
            z-index: 999;

            @include mobilefirst($bp-tablet) {
              $width: 6px;
              position: absolute;
              width: $width;
              top: 4rem;
              left: 50%;
              margin-left: -($width / 2);
              // background-color: rgba(grey, .2);/**/
            }
          }
        }
      }

    &#section-natur {
      // background: $color-natur;
      position: relative;
      background-image: url(../img/potsdam-sans.svg), url(../img/potsdam-nauener.svg), url(../img/potsdam-nikolai.svg);
      background-size: 759px 130px, 292px 149px, 216px 365px;
      background-position: right -560px bottom 0,right 160px bottom 0,right 90px bottom 0;
      background-repeat: no-repeat;
      border-bottom: 40px solid $color-natur;

      @include mobilefirst($bp-tablet) {
        background-position: right -250px bottom 0, right 650px bottom 0, right 486px bottom 0;
      }

      .container-natur {
        position: relative;
        height: 100%;
        // background: pink;

        .group {
          position: absolute;
          width: 100%;
          bottom: 0;
        }

        .icon {
          margin-bottom: 0;
        }
      }
    }

    &#section-gewinnung {
      .icon {
        i {
          background: $color-gewinnung url(../img/i-gewinnung.svg) 50% 50% no-repeat;
        }
      }

      .flood {
        .circle {
          background-color: $color-gewinnung;
        }
      }
    }

    &#section-versorgung {
      .icon {
        i {
          background: $color-versorgung url(../img/i-versorgung.svg) 50% 50% no-repeat;
        }
      }

      .flood {
        .circle {
          background-color: $color-versorgung;
        }
      }
    }

    &#section-reinigung {
      .icon {
        i {
          background: $color-reinigung url(../img/i-reinigung.svg) 50% 50% no-repeat;
        }
      }

      .flood {
        .circle {
          background-color: $color-reinigung;
        }
      }
    }

  }
} // main
