.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 0.889em; // 16px
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: $padding*2 0 $padding;
  background: #fff;
  z-index: 99;
  overflow-x: auto;
  @extend .transition-all;

    .js & {
      margin-left: -400px;
    }

    &.shrink {
      padding-top: 54px;
    }

    &.open {
      margin-left: 0;
    }

  .nav-sidebar {
    width: 100%;

    > ul {

      > li {
        padding: 0 (2.1277% * 2);

        > a {
          background-position: 0 50%;
        }
      }
    }
  }

  li {
    a {
      background-position: 0 18px;
      background-repeat: no-repeat;
      padding: 16px (2.1277% * 2) 16px (2.1277% * 4);
      background-size: 18px;
      display: block;
      line-height: 1.2;
    }

    &.side-intro.active,
    &.side-gewinnung.active,
    &.side-versorgung.active,
    &.side-reinigung.active {
      a {
          color: #fff;
      }
    }

    &.side-intro {
      color: $color-primary;

      &.active {
        background: $color-primary;

        > a {
          // background-image: url(../img/side-active.svg);
        }
      }

      > a {
        // background-image: url(../img/side-gewinnung.svg);
      }

      a {
        color: $color-primary;
      }
    }

    &.side-gewinnung {
      color: $color-gewinnung;

      &.active {
        background: $color-gewinnung;

        > a {
          background-image: url(../img/icon-gewinnung-active-32.svg);
        }
      }

      > a {
        background-image: url(../img/icon-gewinnung-32.svg);
      }

      a {
        color: $color-gewinnung;
      }
    }

    &.side-versorgung {
      color: $color-versorgung;

      &.active {
        background: $color-versorgung;

        > a {
          background-image: url(../img/icon-versorgung-active-32.svg);
        }
      }

      > a {
        background-image: url(../img/icon-versorgung-32.svg);
      }

      a {
        color: $color-versorgung;
      }
    }

    &.side-reinigung {
      color: $color-reinigung;

      &.active {
        background: $color-reinigung;

        > a {
          background-image: url(../img/icon-reinigung-active-32.svg);
        }
      }

      > a {
        background-image: url(../img/icon-reinigung-32.svg);
      }

      a {
        color: $color-reinigung;
      }
    }

    li {
      font-size: 0.875em;
      // margin-left: -15%;
    }
  }
}
