//----------------------------------*\
// Buttons
//----------------------------------*/

// Default button

a.btn {
  @include vr(
    $line-height: 1
  );
}

.btn {
  border-radius: $br-btn;
  background: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: bottom;
  @include vr(
    $padding: 0 1,
    $margin: 0 0 1 0
  );

  #section-gewinnung & {
    border-color: rgba($color-gewinnung, .33);
    background-color: rgba($color-gewinnung, .1);
  }
  #section-versorgung & {
    border-color: rgba($color-versorgung, .33);
    background-color: rgba($color-versorgung, .1);
  }
  #section-reinigung & {
    border-color: rgba($color-reinigung, .33);
    background-color: rgba($color-reinigung, .1);
  }

  // Mobile first styles
  @include mobilefirst($bp-tablet) {
    width: auto;
    @include vr(
      $margin: 0 .25 1 0
    );
  }

  &:hover,
  &:focus {
    background: $color-primary;
    border-color: $color-primary;
    color: #fff;
    text-decoration: none;

    #section-gewinnung & {
      border-color: rgba($color-gewinnung, .66);
      background-color: rgba($color-gewinnung, .2);
      color: $text-black;
    }
    #section-versorgung & {
      border-color: rgba($color-versorgung, .66);
      background-color: rgba($color-versorgung, .2);
      color: $text-black;
    }
    #section-reinigung & {
      border-color: rgba($color-reinigung, .66);
      background-color: rgba($color-reinigung, .2);
      color: $text-black;
    }
  }

  &:active {
    background: darken($color-primary, 10);
    border-color: darken($color-primary, 10);
  }

  // Primary action button
  &.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;

    &:hover,
    &:focus {
      background: darken($color-primary, 5);
      border-color: darken($color-primary, 5);
      color: #fff;
    }

    &:active {
      background: darken($color-primary, 10);
      border-color: darken($color-primary, 10);
      color: #fff;
    }

    footer & {
      background-color: transparent;
      border-color: darken($color-natur, 10);
      color: $text-black;

      &:hover,
      &:focus {
        background: darken($color-natur, 5);
        border-color: darken($color-natur, 15);
        color: $text-black;
      }

      &:active {
        background: darken($color-natur, 10);
        border-color: darken($color-natur, 20);
        color: $text-black;
      }
    }
  }

  // Larger button
  &.btn-lg {
    @include vr(
      $font-size: 1,
      $padding: .5 1,
      $height: 2
    );
  }

  // Smaller button
  &.btn-sm {
    @include vr(
      $font-size: -1
    );
  }

  // Link button - a button that looks like a link
  &.btn-link {
    box-shadow: none;
    background: transparent;
    border: 0;
    color: $color-primary;
    text-shadow: none;
    text-transform: none;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary;
      text-decoration: underline;
    }
  }
}
