//----------------------------------*\
// Buttons
//----------------------------------*/

// Default button

a.btn {
  @include vr(
    $height: 1
  );
}

.btn {
  border-radius: $br-btn;
  background: transparent;
  border: 1px solid $color-primary;
  color: $color-primary;
  display: inline-block;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: bottom;
  @include vr(
    $padding: 0 1,
    $margin: 0 0 1 0
  );

  // Mobile first styles
  @include mobilefirst($bp-tablet) {
    width: auto;
    @include vr(
      $margin: 0 .25 1
    );
  }

  &:hover,
  &:focus {
    background: $color-primary;
    border-color: $color-primary;
    color: #fff;
    text-decoration: none;
  }

  &:active {
    background: darken($color-primary, 10);
    border-color: darken($color-primary, 10);
  }

  // Primary action button
  &.btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: #fff;

    &:hover,
    &:focus {
      background: darken($color-primary, 5);
      border-color: darken($color-primary, 5);
      color: #fff;
    }

    &:active {
      background: darken($color-primary, 10);
      border-color: darken($color-primary, 10);
      color: #fff;
    }
  }

  // Larger button
  &.btn-lg {
    @include vr(
      $font-size: 1,
      $padding: .5 1,
      $height: 2
    );
  }

  // Smaller button
  &.btn-sm {
    @include vr(
      $font-size: -1
    );
  }

  // Link button - a button that looks like a link
  &.btn-link {
    box-shadow: none;
    background: transparent;
    border: 0;
    color: $color-primary;
    text-shadow: none;
    text-transform: none;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary;
      text-decoration: underline;
    }
  }
}
