//----------------------------------*\
// Defaults (yes, also default for font)
//----------------------------------*/

* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  ul {
    margin: 0;
    padding: 0;
  }
}


// Kellum Image Replacement
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.kellumIR {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.m {
  @extend .offset2;
  @extend .span8;
}
.l { @extend .span9; }
.r { @extend .span3; }


.fullscreen {
  height: 100%;
}

.animations {
  transition: all 0.5s;
}
