//----------------------------------*\
// 12 Column Responsive Flex-Grid
//----------------------------------*/
$margin: 4rem; // Margin between the grid columns

.container {
  margin: 0 auto;
  max-width: 1200px;
  // padding: 0 10px;
  @include vr(
    $padding: 0 .25
  );

  @include mobilefirst($bp-tablet) {
    @include vr(
      $padding: 0 .5
    );
  }
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  @include vr(
    $margin-left: 1.5,
    $margin-bottom: 1
  );
}

.group {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}


// Grid columns are stacked until the display size is greater than min-width
@include mobilefirst($bp-tablet) {

  $unit: 6.2056333%; // Width of each grid column unit
  $margin: 2.1277%; // Margin between the grid columns

  .container {
  }

  .group {
    flex-direction: row;
    margin-left: -$margin;
  }

  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11,
  .span12 {
    flex: 0 0 auto;
  }

  @for $i from 0 through 12 {
    .span#{$i} {
      flex-basis: ($unit * $i) + ($margin * ($i - 1));
      margin-left: $margin;
      max-width: ($unit * $i) + ($margin * ($i - 1));
    }

    .offset#{$i} {
      margin-left: ($unit * $i) + ($margin * ($i + 1)) !important;
    }
  }
}
