//----------------------------------*\
// Input & Form elements
//----------------------------------*/


form {

  // Wrap each form input/element in a field div
  .field {
    @include vr(
      $margin-bottom: 1
    );
  }

  // Notes go under the input fields
  .hint {
    color: $color-subtle;
  }

  // Required label
  .is-required {
    font-style: italic;
  }

  // Validation, add error class to the item div
  .has-error {

    // Validation reason
    .error-description {
      color: $color-danger;
    }

    input:not([type="radio"]):not([type="checkbox"]),
    textarea {
      border-color: $color-danger;
    }
  }

  .hint,
  .is-required,
  .error-description {
    @include vr(
      $font-size: -1,
      $margin: 0
    );
  }

}

label {
  display: block;
}

input[type="checkbox"], input[type="radio"] {
  margin-bottom: $vr-line-height / 3 + 0em;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .05);
  border-radius: $br-btn;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  @include vr(
    $font-size: 0,
    $height: 1,
    $padding: 0 .25
  );

  @include mobilefirst($bp-tablet) {
    width: 300px;
  }

  &:focus {
    border-color: $color-primary;
  }

  &.full-width {
    width: 100%;
  }

  + .btn{
    @include vr(
      $margin-bottom: 0
    );
  }
}

textarea {
  @include vr(
    $height: 6
  );
}
