//----------------------------------*\
// Media
//----------------------------------*/

img,
svg,
video,
audio,
iframe,
object {
  max-width: 100%;
}

.group-img,
.group-video {
  @include vr(
    $margin: 1 0
  );
}

// Responsive Fluid Layout for Videos
%embed {
  display: inline-block;
  overflow: hidden;
  padding-top: 0;
  position: relative;

  iframe,
  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

$aspect-ratios: (16,9),
                (21,9),
                (4,3),
                (1,1);

@each $this,$that in $aspect-ratios {
  .media-ratio-#{$this}by#{$that} {
    @include maintain-ratio($this $that);
    @extend %embed;
  }
}



figure {
  font-family: $font-sans;
  // border: 1px solid lighten(#333, 60);
  border-radius: $br;
  @extend .span8;
  @extend .offset2;
  @include vr(
    $margin: 0 0 1
  );

  #section-gewinnung & {
    // border-color: rgba($color-gewinnung, .25);
    // background-color: rgba($color-gewinnung, .05);
  }
  #section-versorgung & {
    // border-color: rgba($color-versorgung, .25);
    // background-color: rgba($color-versorgung, .05);
  }
  #section-reinigung & {
    // border-color: rgba($color-reinigung, .25);
    // background-color: rgba($color-reinigung, .05);
  }

  svg {
    @include vr(
      $padding-top: .5
    );
  }

  img {
    @include vr(
      $margin: .5
    );
  }

  figcaption {
    border-top: 1px solid lighten(#333, 60);
    color: lighten($text-black, 25);
    @extend .span8;
    @extend .offset2;
    @include vr(
      $padding: .75 .6 0,
      $margin-top: .25
    );

    a,
    .btn {
      color: lighten($text-black, 25);
    }

    h4,
    h5,
    h6 {
      font-weight: bold;
      margin-top: 0;
      hyphens: none;
    }

    h4,
    h5,
    h6,
    p {
      @extend .font-small;
    }

    .btn {
      margin-bottom: 0;
    }
  }
}

// .chart #header{
//   display: none !important;
// }

