//----------------------------------*\
// Media
//----------------------------------*/

img,
svg,
video,
audio,
iframe,
object {
  max-width: 100%;
}

.group-img,
.group-video {
  @include vr(
    $margin: 1 0
  );
}

// Responsive Fluid Layout for Videos
.embed {
  display: inline-block;
  overflow: hidden;
  padding-top: 0;
  position: relative;

  iframe,
  svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}


.media-ratio {
  &-16by9{
    @include maintain-ratio(16 9);
    @extend .embed;
  }

  &-21by9{
    @include maintain-ratio(21 9);
    @extend .embed;
  }

  &-4by3{
    @include maintain-ratio(4 3);
    @extend .embed;
  }

  &-1by1{
    @include maintain-ratio(1 1);
    @extend .embed;
  }
}

figure {
  font-family: $font-sans;
  border: 1px solid #333;
  border-radius: $br;
  @include vr(
    $margin: 0 0 1
  );

  #section-gewinnung & {
    border-color: rgba($color-gewinnung, .25);
    background-color: rgba($color-gewinnung, .05);
  }
  #section-versorgung & {
    border-color: rgba($color-versorgung, .25);
    background-color: rgba($color-versorgung, .05);
  }
  #section-reinigung & {
    border-color: rgba($color-reinigung, .25);
    background-color: rgba($color-reinigung, .05);
  }

  svg {
    max-width: 100%;
    @include vr(
      $padding-top: .5
    );
  }

  figcaption {
    @include vr(
      $padding:.75 .5 .25
    );

    h4,
    h5,
    h6 {
      margin-top: 0;
    }

    h4,
    h5,
    h6,
    p {
      @extend .font-small;
    }

    .btn {
      margin-bottom: 0;
    }
  }
}

// .chart #header{
//   display: none !important;
// }

