@include selection($selection-bg: #333, $selection-c: #fff, $selection-ts: none);

.tab{
  // &:before{
  //   content: '\00a0\00a0';
  // }
  padding-left: 21.2667px;
}

.fb-user,
.fb-time,
.fb-like,
.fb-comment,
.fb-comments,
.fb-reply {
  @extend .tab;
}

.fb-time {
  margin-top: -$padding/2;
  margin-bottom: $padding/2;
  display: block;
  font-size: .75em;
}

.fb-comments {
  padding-top: $padding/2;
}
