//----------------------------------*\
// Tables
//----------------------------------*/

table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  @include vr(
    $margin: 1 0
  );

  caption {
    font-family: $font-sans;
    font-weight: bold;
  }

  thead,
  tbody {
    padding: 0;
    margin: 0;
  }

  tr {
    &:focus,
    &:hover{
      background: lighten($color-primary, 45%);
    }
  }

  th,
  td {
    padding: 0 5px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid $color-tertiary;
    @include vr(
      $offset-bottom: 1px
    );
  }
}
