//----------------------------------*\
// Typography
//----------------------------------*/

/* Import fonts from Google */
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i');


// vertical-rhythm-reset
@include vr-reset();

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
button,
input,
textarea {
  font-family: $font-serif;
  font-style: normal;
  font-weight: 400;
  color: $text-black;
}

nav {
  font-family: $font-sans;
}

blockquote,
dl,
form,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul {
  @include vr(
    $margin-top: 0
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  @extend .uppercase;
  @include vr(
    $padding: 0,
    $margin-top: 2
  );

  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + p {
    margin-top: 0
  }
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
    main section header & {
      font-family: $font-sans;
    }
}


small,
.font-small {
  display: block;
  @include vr(
    $font-size: -1,
    $line-height: 0.5,
    $margin: 0 0 1
  );

  @include mobilefirst($bp-tablet) {
    @include vr(
      $margin: 0 0 .7,
      $padding-top: .3
    );
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  font-family: $font-serif;
  font-style: italic;
  font-weight: 400;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  @include vr(
    $padding: 0 .25 0 .75
  );

  &:before {
    content: '\201C'; // “
    position: absolute;
    font-size: 3.5em;
    color: $color-primary;
    left: 0px;
    top: .1em;
    opacity: .5;
    z-index: -1;
  }

  @include mobilefirst($bp-tablet) {
    @include vr(
      $padding: 0 .5 0 .75
    );
  }

  p {
  }

  footer {
    cite {
      &:before {
        content: " – ";
      }
    }
  }
}

pre,
code {
  font-family: $font-mono;
}

pre {
  border-radius: $br*2;
  background: darken($blue-grey, 30%);
  color: #fff;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  @include vr(
    $line-height: .5,
    $padding: .5
  );

  @include mobilefirst($bp-tablet) {
    @include vr(
      $padding: .5
    );
  }
}

code {
  border-radius: $br*2;
  background: lighten($grey, 35%);
  border: 1px solid lighten($grey, 15%);
  padding: 1px 5px;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: $color-primary;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

time,
.time {
  text-transform: uppercase;
}

// [1] https://developer.mozilla.org/en-US/docs/CSS/font-variant
abbr {
  font-variant: small-caps; // [1]
  font-weight: 600;
  text-transform: lowercase;
}

// Cursor changed to a question mark when it has a title
abbr[title]:hover {
  cursor: help;
}

hr {
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: .05em;
}

.margin-top-0 {
  margin-top: 0;
}
