//----------------------------------*\
// Typography
//----------------------------------*/

// @font-face {
//   font-family: 'Font-Name';
//   src: url('../fonts/font-name.eot');
//   src: url('../fonts/font-name.eot?#iefix') format('embedded-opentype'), url('../fonts/font-name.woff') format('woff'), url('../fonts/font-name.ttf') format('truetype'), url('../fonts/font-name.svg#font-name') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

body,
button,
input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 87.5%; // 14px (mobile)
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  color: $text-black;

  @include mobilefirst($bp-tablet) {
    font-size: 112.5%; // 18px (tablet, desktop)
  }
}

blockquote {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 $padding/2;
  padding-left: 35px;
  position: relative;

  &:before {
    content: '\201C'; // “
    vertical-align: baseline;
    position: absolute;
    font-size: 3.5em;
    color: $color-primary;
    left: -5px;
    top: -.4em;
    opacity: .5;
    z-index: -1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.1;
  margin: 0 0 ($padding/2)+5;
  font-weight: 400;
  padding: 0 $padding*2;

  .group-intro .l &,
  .group-intro .r & {
    text-align: center;
  }

  .group-9-3 .r & {
    font-size: 0.778em;
    margin: 0 0 $padding/6;
    padding: 0;
    font-weight: 700;
  }

  .group-6-6 .l & {
    padding: 0 $padding 0 $padding*2;
  }

  .group-6-6 .r & {
    padding: 0 $padding*2 0 $padding;
  }
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: $padding;

  .group:first-child & {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.667em; // 48px
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 2.222em; // 40px
  font-style: normal;
  font-weight: 400;
}

h3 {
  font-size: 2em; // 36px
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-size: 1.667em; // 30px
  font-style: normal;
  font-weight: 400;
}

h5 {
  font-size: 1.333em; // 24px
  font-style: normal;
  font-weight: 400;
}

h6 {
  font-size: 1em; // 18px
  font-style: normal;
  font-weight: 400;
}

p {
  margin: 0 0 $padding/2;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
  padding: 0 $padding*2;

  .kv & {
    font-size: 1.167em;
  }

  .group-intro .l &,
  .group-intro .r & {
    text-align: center;
  }

  .group-9-3 .r & {
    font-size: 0.778em;
    margin: 0 0 $padding/6;
    padding: 0;
  }

  .group-6-6 .l & {
    padding: 0 $padding 0 $padding*2;
  }

  .group-6-6 .r & {
    padding: 0 $padding*2 0 $padding;
  }
}

pre {
  border-radius: $br*2;
  background: darken($blue-grey, 30%);
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: .813em; // 13px
  line-height: 20px;
  margin: 0 0 $padding/2;
  padding: 10px 15px;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  border-radius: $br*2;
  background: lighten($grey, 35%);
  border: 1px solid lighten($grey, 15%);
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: .813em; // 13px
  line-height: 20px;
  padding: 2px 5px;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: text-bottom;
}

a {
  .sec-gewinnung .container & {
    color: $color-gewinnung;
  }
  .sec-versorgung .container & {
    color: $color-versorgung;
  }
  .sec-reinigung .container & {
    color: $color-reinigung;
  }
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin: $padding 0;
}
